@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="flex">Eagles - Hotel California</h1>
</div>

<div class="video_container">
    <iframe width="900" height="600" src="https://www.youtube.com/embed/09839DpTctU?si=ixa7aqCHXxRxOS7F" title="Eagles - Hotel California" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share " allowfullscreen></iframe>
</div>

